/* styles.css */
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css?family=Hind&display=swap');
body {
   
    font-family: Arial, sans-serif;
  }
  
  h1,.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #000000;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.986);
    border-radius: 20px;
  }
  
  .container {
    display: flex;
  }
  
  .search-bar {
    margin-bottom: auto 40px;
   }
  
  .search-bar input[type="text"] {
    border-radius: 25px;
    border: 2px solid #f7e92c;
    padding: 20px;
    max-width:800px auto;
    max-height: 15px auto;
  }
  
  .search-bar button[type="button"] {
    
      color: #fff;
      font-family: Nunito;
      padding: 0;
      margin: 0;
      border: 0;
      background-color: transparent;
    }
  
  
  .search-bar button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  #search-results {
    margin-top: 20px;
  }
  
  #search-results ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #search-results li {
    padding: 10px;
    border-bottom: 1px solid #fffd7c;
  }
  
  #search-results li:last-child {
    border-bottom: none;
  }
  
  #search-results a {
    text-decoration: none;
    color: #337ab7;
  }
  
  #search-results a:hover {
    text-decoration: underline;
  }
   h1 {
     text-align: center;
    }